*{
      margin: 0;
      padding: 0;
      font-family: 'Outfit', sans-serif;
}

body{
      background-color: hsl(217, 54%, 11%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
}

section{
     background-color: hsl(216, 50%, 16%);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 570px;
     width: 370px;
     border-radius: 10px;
     max-width: 360px;
}


#equilibrium-image{
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: 25px;
} 


#equilibrium-image img{
      width: 85%;
      border-radius: 10px;      
}

.container--infos{
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      width: 85%;
      height: 100%;
}

.equilibrium-name{
      color: hsl(0, 0%, 100%);
}

.equilibrium-phrase{
      color: hsl(215, 51%, 70%);
      font-size: 18px;
      font-weight: 300;
}

.equilibrium-span{
      display: flex;
      justify-content: space-between;
}


.equilibrium-span .div--span{
     display: flex;
     align-items: center; 
}

.equilibrium-span #span--eth{
      color: hsl(178, 100%, 50%);
      font-weight: 600;
      margin-left: 5px;
}

.equilibrium-span #span--days{
      color: hsl(215, 51%, 70%);
      margin-left: 5px;
}

.equilibrium-creation{
      height: 50px;
      display: flex;
      align-items: center;
      border-top: 1px solid hsl(215, 32%, 27%);
}

.equilibrium-creation figure img{
      width: 30px;
      border: 1px solid white;
      border-radius: 100%;
      margin-top: 15px;
}

.equilibrium-creation p{
      margin-left: 15px;
      margin-bottom: 5px;
      color: hsl(215, 51%, 70%);
      margin-top: 15px;
}

.equilibrium-creation span{
      margin-left: 5px;
      color: hsl(0, 0%, 100%);
}

.equilibrium-creation span:hover{
      color: hsl(178, 100%, 50%);
}

.equilibrium-name:hover{
      color: hsl(178, 100%, 50%);  
}

#equilibrium-image:hover::after{
      visibility: visible;     
}

#equilibrium-image::after{     
      background: url('/images/icon-view.svg') no-repeat;
      background-color: hsl(178, 100%, 50%, 0.5);
      background-position: center;
      content: '';
      position: absolute;
      visibility: hidden;
      border-radius: 10px;
      width: 85%;
      height: 100%;
}